# Rename this file to .env before use
# PostgreSQL Configuration
POSTGRES_PASSWORD=keycloak_secret

# Redis Configuration
REDIS_PASSWORD=redis_secret

# Keycloak Configuration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Auth Service Configuration
AUTH_SERVICE_CLIENT_SECRET=auth-service-secret
ADMIN_CLIENT_SECRET=admin-secret



